body {
  font: 100%/1.5 system-ui;
  max-width: 100ch;
  margin-inline: auto;
  padding: 1ch;
  color-scheme: light dark;
}

nav {
  display: flex;
  --border-color: oklch(50% 10% 200 / 40%);
}

a {
  flex: 1;
  text-decoration: none;
  color: inherit;
  text-align: center;
  padding: 0.5em;
  margin-bottom: 0.5em;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--border-color);
  font-weight: bold;
}

a:hover {
  border-bottom: 4px solid var(--color-accent);
  background-color: color-mix(in oklch, var(--color-accent), canvas 50%);
  padding-bottom: 0.2em;
  color: var(--color-accent);
}

.current {
  border-bottom-width: 4px;
  padding-bottom: 0.2em;
}

.in {
  padding: 0;
  border: transparent;
  font-weight: inherit;
}
.in:hover{
  border: transparent;
  margin-bottom: -4px;
}

html {
  --color-accent: oklch(0.42 0.0567 255.18);
  accent-color: var(--color-accent);
  scrollbar-gutter: stable;
}

.pic {
  width: 360px;
  height: auto;
}

input {
  font-family: inherit;
}

textarea {
  font-family: inherit;
}

button {
  font-family: inherit;
  grid-column: 1 / -1;
}

form {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1em;
}

label {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / -1;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  gap: 1em;
}

article {
  grid-template-rows: subgrid;
  grid-row: span 3;
  gap: 2em;
}

article h2 {
  height: 2.2em;
}

h1 {
  font-size: 400%;
  line-height: 1.1;
  margin-top: 15px;
  margin-bottom: 15px;
}

h1.section {
  font-size: 250%;
}

h2 {
  margin: 0;
  line-height: 1.1;
  color: var(--color-accent);
}

h3 {
  margin-top: 5px;
  line-height: 1.1;
  font-size: medium;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 2px;
}

article.exp {
  gap: 0em;
}

article.exp h2 {
  height: auto;
}

div.cv {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  grid-template-rows: auto; 
  column-gap: 2em;
  border-top: 2px solid black;
}

#top {
  border-bottom: 2px solid var(--color-accent);
}

#bottom {
  border-top: 2px solid var(--color-accent);
}

div.wh {
  margin-top: 1px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

div.wh p {
  margin: 0;
  padding: 0;
  margin-right: 2ch;
}

div.basic {
  display: flex;
}

div.basic p {
  flex: 1;
  text-decoration: none;
  color: inherit;
  text-align: center;
  padding: 0.5em;
  margin-bottom: 1em;
  border-right: 3px solid var(--color-accent);
}

div.basic p.end {
  border-right: 0px;
}

ul {
  margin-top: 0.5em;
  margin-left: 2ch;
  padding: 0;
  list-style-type: "⮚ ";

}

ul li {
  margin-right: 1ch;
}

ul li::marker {
  color: var(--color-accent);
}

.color-scheme {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 80%;
  font-family: inherit;
}

#selector{
  font-family: inherit;
}

h2.latest {
  color: black;
  font-size: 250%;
}

h2.github {
  color: black;
  font-size: 200%
}

#profile-stats {
  padding: 4px
}

#profile-stats dl {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

#profile-stats dt {
  font-weight: bold;
  color: gray;
  grid-row: 1;
}

#profile-stats dd {
  grid-row: 2; 
  font-size: 200%;
  margin-left: 0;
}

img {
  width: 100%;
}

p.year {
  font-family: Bakersville;
  font-variant-numeric: oldstyle-nums;
}

ul.legend {
  display: grid;
  flex: 1;
  grid-template-columns: repeat(auto-fill, minmax(6em, 1fr));
  min-width: 1ch;
  border: solid black;
  border-width: 1px;
  padding: 1em;
  align-items: center;
}

li.legends {
  display: flex;
  flex: 1;
  gap: 2px;
  align-items: center;
}

li.legends.selected span.swatch {
  --color: oklch(60% 45% 0) !important;
} 

span.swatch {
  align-items: center;
  gap: 10ch;
  width: 2ch;
  height: 2ch;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 0.5ch;
}

div.container {
  display: flex;
  flex: 1;
  gap: 50px;
  flex-wrap: wrap;
}

#projects-plot {
  max-width: 400px; 
  max-height: 400px;
  height: auto;
  flex-shrink: 1;
}

input.searchBar {
  display: flex;
  flex: 1;
  font-size: 150%;
  width: 100%;
  margin-top: 1em;
  margin-bottom: 1em;
}

&:has(path:hover) {
  path:not(:hover) {
    opacity: 0.5;
  }
}

path {
  transition: 300ms;
  cursor: pointer;
}

.selected {
  --color: oklch(60% 45% 0) !important;
  & span {
    background-color: oklch(60% 45% 0) !important;
  }
  &:is(path) {
    fill: var(--color);
  }
}

.stats {
  padding: 2px
}

dl.stats {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.stats dt {
  font-weight: bold;
  color: gray;
  grid-row: 1;
}

.stats dd {
  grid-row: 2; 
  font-size: 200%;
  margin-left: 0;
}

.gridlines {
  stroke-opacity: 0.2;
}

dl.info {
  display: grid;
  transition-duration: 500ms;
  transition-property: opacity, visibility;
  background-color: lightgray;
}

dl.info dt {
  font-weight: bold;
  color: darkgray;
  grid-row: 1;
}

dl.info dd {
  grid-row: 2; 
  font-size: 200%;
  margin-left: 0;
}

dl.info[hidden]:not(:hover, :focus-within) {
  opacity: 0;
  visibility: hidden;
}

.tooltip {
  position: fixed;
  top: 1em;
  left: 1em;
}

@keyframes marching-ants {
  to {
    stroke-dashoffset: -8; /* 5 + 3 */
  }
}

.selection {
  fill-opacity: 0.1;
  stroke: black;
  stroke-opacity: 0.7;
  stroke-dasharray: 5 3;
  animation: marching-ants 2s linear infinite;
}

circle.selected {
  fill: #ff6b6b;
}

#language-container {
  min-height: 15ch;
}
/* * {
    outline: 1px solid red;
  }  */